@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: auto;
  font-size: 1rem;
  font-family: "Montserrat";
}
a {
  color: #eb8f66;
}
main {
  margin: auto;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main .left {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding: 0 50px;
}

main .right {
  flex: 1;
  height: 100vh;
  padding: 50px;
}
main .left .logo-big {
  width: 95%;
  max-width: 400px;
}

main .right {
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
}

main .right .contact {
  margin-top: 10px;
}

@media (min-width: 900px) {
  main {
    flex-direction: row;
  }
  main .left {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  main .right {
    justify-content: center;
    background-color: #3d3d3d;
    color: #ffffff;
  }

  main .right {
    margin-top: 0px;
  }

  main .right .contact {
    margin-top: 40px;
  }
}
